# My aliases

 alias up='sudo pacman -Syu'
 alias del='sudo pacman -Scc'
 alias reb='adb reboot'
 alias bootloader='adb reboot bootloader'
 alias fast='adb fastboot'
 alias vb='fastboot --disable-verity --disable-verification flash vbmeta vbmeta-citrus.img'
 alias twrp='fastboot flash recovery twrp_citrus-3.5-1-A10.img'
 alias erase='fastboot erase userdata && fastboot -w'
 alias help='cat ~/.aliases'
 alias i3='nvim .config/i3/config'
 alias poly='nvim .config/polybar/config'
 alias repo='cd .joaopp-repo/dotfiles/'
 alias gith='git add . && git commit -m "update" && git push -f'
 alias name='git config --global user.name JoaoPedroPierri'
 alias email='git config --global user.email joaopedropierri2002@gmail.com'
 alias cel='scrcpy -S -m720
 alias all='lsd -A'
