  # My aliases

# COMPUTADOR
  alias up='sudo pacman -Syu'
  alias up2='sudo pacman -Syy'
  alias ya='yay -Syua'
  alias del='sudo pacman -Scc'
  alias dep='sudo pacman -Rs $(sudo pacman -Qtdq)'
  alias help='cat ~/.aliases'
  alias i3='nvim .config/i3/config'
  alias poly='nvim .config/polybar/config'
  alias alia='nvim .aliases'

# GITHUB
  alias repo='cd ~/.joao-repo/dotfiles/'
  alias gith='git add . && git commit -m "update" && git push -f'
  alias name='git config --global user.name JoaoPedroPierri'
  alias email='git config --global user.email joaopedropierri2002@gmail.com'

# CELULAR
  alias reb='adb reboot'
  alias boot='adb reboot bootloader'
  alias stock='cd custom-stock/citrus_global_V12.0.10/ && ./flash_all.sh' 
  alias flash='adb reboot bootloader && fastboot --disable-verity --disable-verification flash vbmeta vbmeta-citrus.img && fastboot flash recovery recovery_citrus.img && fastboot reboot recovery'
  alias erase='fastboot erase userdata && fastboot -w'
 

