  # My aliases

# COMPUTADOR
  alias up='sudo pacman -Syu --noconfirm'
  alias up2='sudo pacman -Syy --noconfirm'
  alias ya='yay -Syua'
  alias del='sudo pacman -Scc --noconfirm'
  alias dep='sudo pacman -Rs $(sudo pacman -Qtdq)'
  alias help='cat ~/.aliases'
  alias i3='nvim .config/i3/config'
  alias poly='nvim .config/polybar/config'
  alias scri='cd .config/polybar/scripts/'
  alias lixo='cd .local/share/Trash/files'


# GITHUB
  alias repo='cd ~/.joao-repo/dotfiles/'
  alias plugins='cd ~/.joao-repo/joao-plugins/'
  alias gp='git pull'
  alias gc='git clone'
  alias gh='git push origin master'
  alias ga='git add'
  alias login='git remote set-url origin git@github.com:JoaoPedroPierri/dotfiles.git'

# CELULAR
  alias reb='adb reboot'
  alias boot='adb reboot bootloader'
