configuration {
      modi: "window,drun,run,ssh";
      font: "Open Sans 11";
      show-icons: true;
      drun-icon-theme: "Arc";
      levenshtein-short: true;
      hide-scrollbst: true;
      click-to-exit: true;
}

@import "~/.config/rofi/themes/dark.rasi"
